@import url("./css/variable.css");
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header .head {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}
header .head .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
header .head .right-side .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .navbarItem {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
}
header .navbarItem .links {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 40px;
}
#icon {
  color: var(--maincolor);
}
#link {
  text-decoration: none;
  color: white;
}
.menu2 {
  display: none;
}
